:root {
    --base: #8822dd;
    --spacing: 10px;
    --blur: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: #111;
    color: #fff;
}

h1 {
    text-align: center;
    font-size: 4rem;
    letter-spacing: 1rem;
    font-weight: 100;
}

.highlight {
    color: var(--base);
}

.controls {
    width: 60%;
    max-width: 600px;
    min-width: 300px;
    margin: 2rem auto;
    text-align: center;
    font-size: 2rem;
}

img {
    display: block;
    margin: 0 auto;
    width: 30rem;

    background-color: var(--base);
    padding: var(--spacing);
    filter: blur(var(--blur));
}